# Stripe
STRIPE_SECRET_KEY=sk_test_YOUR_SECRET_KEY_HERE

# Discord
DISCORD_BOT_TOKEN=YOUR_BOT_TOKEN_HERE
GUILD_ID=1492355946750410825

# Webhook
WEBHOOK_SECRET=YOUR_WEBHOOK_SECRET_HERE

# Server
PORT=3000
